<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.meibanlu.driver"
    android:versionCode="16"
    android:versionName="1.1.6"
    tools:ignore="GradleOverrides">

    <!--极光推送-->
    <!-- Required -->
    <permission
        android:name="com.meibanlu.driver.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />

    <!-- Required  一些系统要求的权限，如访问网络等-->
    <uses-permission android:name="com.meibanlu.driver.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />


    <!-- Optional for location -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- 用于开启 debug 版本的应用在6.0 系统上 层叠窗口权限 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!--极光推送-->

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <!-- 定位包、导航包需要的额外权限（注：基础权限也需要） -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <!--android:persistent="true"   //防止进程被安卓系统回收-->
    <application
        android:name=".application.DriverApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_app_logo"
        android:label="@string/app_name"
        android:persistent="true"
        android:priority="1000">
        <activity
            android:name=".activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.UserLoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoTitleBar" />
        <activity
            android:name=".activity.HomePageActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:persistent="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoTitleBar" />
        <activity
            android:name=".activity.RunMapActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoTitleBar" />
        <activity
            android:name=".activity.PersonalDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoTitleBar" />
        <activity
            android:name=".activity.PersonalTaskActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoTitleBar" />
        <activity
            android:name=".activity.PersonalNoticeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoTitleBar" />
        <activity
            android:name=".activity.UserPasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoTitleBar" />

        <activity
            android:name=".activity.PersonalActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoTitleBar" />
        <activity
            android:name=".activity.RouteDepartureActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoTitleBar" />
        <activity
            android:name=".activity.FindPasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoTitleBar" />
        <activity
            android:name=".activity.ResetPasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoTitleBar" />
        <activity
            android:name=".activity.PhoneActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoTitleBar" />

        <activity
            android:name=".activity.RouteDepartureMapActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoTitleBar" />
        <activity
            android:name=".activity.OnePixelActivity"
            android:screenOrientation="portrait"
            android:theme="@style/OnePixelActivity" />
        <activity
            android:name=".tool.DefaultErrorActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoTitleBar" />
        <activity
            android:name=".activity.RunActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoTitleBar" />
        <activity
            android:name=".activity.RewardActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoTitleBar" />
        <activity
            android:name=".activity.RecordOilActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoTitleBar" />
        <activity
            android:name=".activity.UseIntroduceActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoTitleBar" />
        <activity
            android:name=".activity.MileageRecordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoTitleBar" />
        <activity
            android:name=".activity.WebActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoTitleBar" />
        <activity
            android:name=".activity.RollingScopeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoTitleBar" />

        <receiver android:name=".broadcast.NetBroadcastReceiver">
            <intent-filter>
                <action
                    android:name="android.net.conn.CONNECTIVITY_CHANGE"
                    tools:ignore="BatteryLife" />
            </intent-filter>
        </receiver>


        <!-- 广播接收器注册 -->
        <receiver android:name=".broadcast.DialogReceiver">
            <intent-filter>
                <action android:name="com.meibanlu.driver.DialogReceiver" />
            </intent-filter>
        </receiver>
        <service android:name=".service.UpdateService" />

        <!-- 高德地图 -->

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="7b7a54e1cd11319eab448ef10cb4af0d" />
        <!-- 定位需要的服务 -->
        <service android:name="com.amap.api.location.APSService" />
        <!-- 高德地图 -->

        <!--极光推送-->
        <!-- For test only 测试状态通知栏，需要打开的Activity -->
        <activity
            android:name=".activity.PushMessageActivity"
            android:exported="false"
            android:theme="@style/AppThemeNoTitleBar">
            <intent-filter>
                <action android:name="jpush.testAction" />
                <category android:name="jpush.testCategory" />
            </intent-filter>
        </activity>

        <!-- Rich push 核心功能 since 2.0.6-->
        <activity
            android:name="cn.jpush.android.ui.PopWinActivity"
            android:exported="false"
            android:theme="@style/MyDialogStyle" />

        <!-- Required SDK核心功能-->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.meibanlu.driver" />
            </intent-filter>
        </activity>

        <!-- Required SDK 核心功能-->
        <!-- 可配置android:process参数将PushService放在其他进程中 -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:exported="false"
            android:process=":mult">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>
        <!-- since 3.0.9 Required SDK 核心功能-->
        <provider
            android:name="cn.jpush.android.service.DataProvider"
            android:authorities="com.meibanlu.driver.DataProvider"
            android:exported="true" />
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.meibanlu.driver.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!-- since 1.8.0 option 可选项。用于同一设备中不同应用的JPush服务相互拉起的功能。 -->
        <!-- 若不启用该功能可删除该组件，将不拉起其他应用也不能被其他应用拉起 -->
        <service
            android:name="cn.jpush.android.service.DaemonService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.DaemonService" />
                <category android:name="com.meibanlu.driver" />
            </intent-filter>

        </service>

        <service android:name=".service.BusService"
            android:exported="false"
            >
            <intent-filter android:priority="1000">
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="cd-917.com.busService"/>
            </intent-filter>
        </service>
        <!-- Required SDK核心功能-->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />   <!--Required  显示通知栏 -->
                <category android:name="com.meibanlu.driver" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>


        <!-- Required SDK核心功能-->
        <receiver
            android:name="cn.jpush.android.service.AlarmReceiver"
            android:exported="false" />

        <!-- User defined.  For test only  用户自定义的广播接收器-->
        <receiver
            android:name=".tool.jpush.PushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" /> <!--Required  用户注册SDK的intent-->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" /> <!--Required  用户接收SDK消息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> <!--Required  用户接收SDK通知栏信息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> <!--Required  用户打开自定义通知栏的intent-->
                <action android:name="cn.jpush.android.intent.CONNECTION" /><!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="com.meibanlu.driver" />
            </intent-filter>
        </receiver>

        <!-- User defined.  For test only  用户自定义接收消息器,3.0.7开始支持,目前新tag/alias接口设置结果会在该广播接收器对应的方法中回调-->
        <receiver android:name=".tool.jpush.JPushMessageReceiver">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.RECEIVE_MESSAGE" />
                <category android:name="com.meibanlu.driver" />
            </intent-filter>
        </receiver>
        <!-- Required  . Enable it you can get statistics data with channel -->
        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="developer-default" />
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="54d2bd98f59844649cc374cf" /> <!--  </>值来自开发者平台取得的AppKey-->
        <!--极光推送-->

        <receiver android:name=".broadcast.DownloadReceiver">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>